.strike {
    text-decoration: line-through;
    text-decoration-color: #c12e2a;
}

.panel-default > .panel-heading {
    background-color: #011638;
    color: white;
    font-weight: bold;
}

.modal {
    display: block;
}

.modal-content {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

* {
    border-radius: 0 !important;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.widget {

    font-style: normal;
    height: 200px;
    color: white;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #28a4c9;
    text-align: center;
    display: table;
    width: 200px;
}

.widget span {
    vertical-align: middle;
    display: table-cell;
}
